.sidebar {
    width: 250px;
    border-right: 2px solid black;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-bottom: 2px solid black;
}

/* Change color on hover */
.sidebar a:hover {
    background-color: #ddd;
    color: black;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.sidebar-title img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.sidebar-title h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

#sidebar-container {
    display: none;
}

#sidebar-container.open {
    display: block;
}

.main {
    margin-left: 250px;
    padding: 0px;
}

.profile {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0; /* Change "right" to "left" */
}

.dropdown a {
  display: block;
}

.profile.show .dropdown {
  display: block;
}

.profile.show .dropdown a {
  display: inline-block;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 22px;
    text-align: left;
}

.header h4 {
    margin: 0;
}

.header i {
    margin-left: auto;
}


/* Style the cards */
.card {
    margin-top: 20px;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}